h1 {
  color: #a56d1d;
  font-size: 400%;
  font-family: cursive;
}
p#boat {
  color: #316e57;
  font-family: sans-serif;
  line-height: 1.5;
  text-indent: 20px;
  margin-left: 10px;
}
#content {
  background-color: ivory;
  width: 1400px;
  min-height: 1400px;
  padding: 15px;
}
#img {
  width: 400px;
}
li#bike{
  list-style: circle;
}
h2 {
  color: #a56d1d;
  width: 400px;
  font-size: 200%;
  font-family: cursive;

}
