h1 {
  color: blue;
  font-size: 400%;
  font-family: cursive;
}
p#boat {
  color: blue;
  font-family: fantasy;
  text-indent: 20px;
  margin-left: 10px;
}
#content {
  background-color: ivory;
  width: 2000px;
  min-height: 2000px;
  padding: 15px;
}
#img {
  width: 400px;
}
